:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --fontmontserrat: Montserrat;
  --fontfraunces: Fraunces;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 14px; */
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--cream);
}

.product {
  width: 60rem;
  margin: 9.6rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1.1rem;
  overflow: hidden;
}

.product__image {
  width: 100%;
}

.product__card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-family: var(--fontmontserrat);
}

.product__heading {
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.product__title {
  color: var(--black);
  font-family: var(--fontfraunces);
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.product__info {
  color: var(--grey);
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.product__price {
  color: var(--green-500);
  font-size: 3rem;
  font-family: var(--fontfraunces);
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.product__price span {
  color: var(--black);
  font-size: 1.1rem;
  font-family: var(--fontmontserrat);
  font-weight: 300;
  margin-left: 1.6rem;
  text-decoration: line-through;
}

.product__button {
  color: var(--white);
  background-color: var(--green-500);
  border: none;
  padding: 1.2rem;
  border-radius: 0.7rem;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.product__button:hover {
  cursor: pointer;
  background-color: var(--green-700);
}

.product__button img {
  margin-right: 1rem;
  width: 1.4rem;
}

@media (max-width: 375px) {
  .product {
    width: auto;
    grid-template-columns: 1fr;
    margin: 2rem;
  }
}
